%h2 Results!

%p
  The results are in! Here you can view the organized data of Hampton's Ruby Survey 2008!


.questions
  - Question.find(:all).each do |question|
    %div[question]
      %h3= question.content
      - total_votes = question.votes.count.to_f
      %ol
        - question.answers.each do |answer|
          %li
            = answer.content
            \----
            = answer.votes.count
            - if answer.votes.count > 0
              \----
              = ((answer.votes.count / total_votes) * 100).to_i
              \%
            - else
              0%