.wrapper
  %fieldset
    %h2 Thanks for taking the survey!

    %p
      Want to see how Ruby usage has changed over the years?
      = link_to "Check out the results from 2008-#{YEAR}.", "/survey/stats"
