!!!
%html
  %head
    %title Hampton's Ruby Survey 2008
  %body
    %h1 Hampton's Ruby Survey 2008
    = yield
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-121285-8");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>