!!!Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-Type', :content => 'text/html; charset=utf-8'}/
    %title Hampton's Ruby Survey 2008
    = stylesheet_link_tag 'application', :media => 'screen'
  %body
    %h1 Hampton's Ruby Survey 2008
    = yield
  
  %ul#footer.clearfix
    %li
      %span built with
      = link_to 'Heroku', 'http://heroku.com', :class => 'heroku'
    %li
      %span created by
      = link_to 'Unspace', 'http://unspace.ca', :class => 'unspace'  
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-121285-8");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>